{% macro input(field) -%}
<div class="mb-3">
    <label class="uppercase text-sm text-stone-400 font-semibold tracking-wider mb-1"
        for="{{field.id}}">{{field.label.text}}</label>
    {{field(class="px-5 py-3 rounded-lg bg-stone-800 font-medium w-full", **kwargs)}}
    <div class="">
        {% for error in field.errors %}
        <p class="text-red-500">{{error}}</p>
        {% endfor %}
    </div>
</div>
{%- endmacro %}

{% macro submit(text) -%}
<button type="submit" class="mt-5 px-5 py-3 bg-green-700 rounded-lg text-black font-semibold">{{text}}</button>
{%- endmacro %}


{% macro form(form, btnText, class='', method='post', action='') -%}
<form action="{{action}}" method="{{method}}" class="{{class}}" id="form" enctype="multipart/form-data">
    {{form.csrf_token}}
    {% for field in form %}
    {% if field.type == 'checkbox' %}
    <h1>Checkbox Field</h1>
    {% elif field.type == 'radio' %}
    <p>Radio Field</p>
    {% else %}
    {{input(field)}}
    {% endif %}
    {% endfor %}

    {{submit(btnText or 'Submit')}}
</form>
{%- endmacro %}