<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Dev Usman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body class="min-h-screen flex max-w-screen-xl mx-auto bg-black text-stone-200">

    <section x-data="{open: false}">
        {% include 'layouts/admin-sidebar.html' %}
        
        <section class="flex-grow">
            {% include 'layouts/admin-navbar.html' %}
            <main>
                {% block content %}
        
                {% endblock %}
            </main>
        </section>
    </section>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</body>

</html>