<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Dev Usman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body class="min-h-screen flex max-w-screen-xl mx-auto bg-black text-stone-200">

    <aside class="w-64 h-screen sticky top-0 border-r border-r4 border-stone-700">
        <h1 class="p-5 text-xl border-b border-stone-700">Admin Panel</h1>

        <div class="">
            <ul class="p-5">
                {% for link in ['site info', 'skills', 'projects', 'blogs'] %}
                <li class="">
                    <a href="#"
                        class="block text-lg capitalize px-5 py-2 rounded-full hover:bg-stone-700 rounded-lb-0">{{ link
                        }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>

    <section class="flex-grow">
        <header class="flex items-center gap-5 p-5 border-b border-stone-700">
            <p class="text-lg">Welcome, <span class="font-bold capitalize">{{current_user.username}}</span></p>

            <div class="ml-auto">
                <button>
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.292-.538 1.292H5.538C5 18 5 17.301 5 16.708c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365ZM8.733 18c.094.852.306 1.54.944 2.112a3.48 3.48 0 0 0 4.646 0c.638-.572 1.236-1.26 1.33-2.112h-6.92Z" />
                    </svg>
                </button>
                <button>
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M5 7h14M5 12h14M5 17h14" />
                    </svg>
                </button>
            </div>
        </header>

        <main>
            {% block content %}

            {% endblock %}
        </main>
    </section>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</body>

</html>