<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Usman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body class="min-h-screen">
    <header>
        {% include 'layouts/navbar.html' %}
    </header>

    <main class="max-w-screen-xl mx-auto">
        {% block content %}
        <h1 class="text-4xl font-bold">Hello from Dev Usman</h1>
        {% endblock %}
    </main>

    <footer>

    </footer>
</body>

</html>