<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Usman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body class="min-h-screen">
    <header>
        {% include 'layouts/navbar.html' %}
    </header>

    <main class="max-w-screen-xl mx-auto mt-16">
        {% block content %}
        <h1 class="text-4xl font-bold">Hello from Dev Usman</h1>
        {% endblock %}
    </main>

    <footer class="px-5 py-10 bg-stone-900">
        <div class="max-w-screen-xl mx-auto">
            <section class="text-center max-w-screen-sm mx-auto space-y-5">
                <h3 class="md:text-lg font-semibold uppercase tracking-wider">Subscribe to my Newsletter</h3>
                <p class="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolor delectus aut reiciendis
                    explicabo illo ullam neque harum! Explicabo et ipsam excepturi consectetur dolores sapiente dolor
                    numquam quod, voluptatum debitis.
                </p>
                <form action="" class="flex flex-col md:flex-row gap-2">
                    <input type="email" placeholder="email address"
                        class="px-5 py-3 flex-grow rounded-lg bg-green-900/50 outline-green-600" />
                    <button
                        class="px-5 py-3 md:py-0 outline outline-green-600 text-green-600 rounded-lg font-semibold hover:bg-green-600 hover:text-black">Subscribe</button>
                </form>
            </section>

            <div class="mt-5 border-t border-black py-5">
                <p class="capitalize font-light text-center text-stone-500">
                    &copy; {{date.today().year}} <a href="/" class="font-semibold hover:underline">usmaarn.dev</a> | All
                    Rights Reserved
                </p>
            </div>
        </div> 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</body>

</html>