{% extends 'base.html' %}

{% block content %}
<div class="py-10 max-w-sm mx-auto">

    <h1 class="text-2xl font-bold">Login</h1>

    <form action="" class="flex flex-col gap-3 mt-5" method="post">
        {{form.csrf_token}}
        <div class="">
            <input type="text" name="username" placeholder="username"
                class="px-5 py-3 rounded-lg bg-stone-800 font-semibold w-full" value="{{form.username.data}}" />
            {% for error in form.username.errors %}
            <div class="">
                <p class="font-semibold text-red-500">{{error}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="">
            <input type="password" name="password" placeholder="Password"
                class="px-5 py-3 rounded-lg bg-stone-800 font-semibold w-full" value="{{form.password.data}}" />
            {% for error in form.password.errors %}
            <div class="">
                <p class="font-semibold text-red-500">{{error}}</p>
            </div>
            {% endfor %}
        </div>
        <button class="px-5 py-3 bg-green-700 rounded-lg text-black font-semibold">Login</button>
    </form>
</div>
{% endblock %}