@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-foreground: var(--color-neutral-400);
  --color-foreground-light: var(--color-neutral-300);
  --color-foreground-dark: var(--color-neutral-500);
  --color-background: #040404;
  --color-card: var(--color-neutral-900);
}

html,
body {
  @apply bg-background text-foreground;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.button {
  @apply h-12 md:h-20 md:px-12 md:text-2xl text-sm px-6 bg-foreground-dark rounded-full border-2 text-background font-bold cursor-pointer
    hover:opacity-70 transition duration-300;
}

.badge {
  @apply inline-flex items-center gap-3 px-2 py-1 lg:px-5 lg:py-2 border rounded-full bg-background border-zinc-700 font-medium text-zinc-400
    hover:border-foreground-dark transition duration-500;
  span {
    @apply text-xs lg:text-lg;
  }
}
