<section class="p-5">
    <h3 class="heading mb-5">Feedbacks</h3>

    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {% for feedback in [1,2,3,4,5,6,7,8] %}
            <div class="swiper-slide">
                <div class="flex gap-3">
                    <div class="">
                        <div class="w-12 h-12 rounded-full bg-stone-700"></div>
                    </div>
                    <div class="">
                        <h4 class="capitalize font-bold">Sukurat Amusa</h4>
                        <p class="text-sm md:text-base font-light mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nostrum eligendi
                            minima culpa amet maiores illo libero cupiditate architecto perferendis!
                        </p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</section>