<section class="">
    <h3 class="heading">Some Projects of mine</h3>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
        <div class="space-y-3">
            <div class="h-64 bg-stone-800 rounded-lg"></div>
            <div class="">
                <h4 class="mb-2 text-xl font-bold ">
                    <a href="#" class="hover:underline">Lorem ipsum dolor sit amet.</a>
                </h4>
                <p class="">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil vitae animi velit. Quibusdam, quam
                    aspernatur....
                </p>
                <div class="flex items-center gap-3 justif">
                    <button>like</button>
                    <button>comment</button>
                    <a href="#" class="ml-auto">Github</a>
                    <a href="#">View</a>
                </div>
            </div>
        </div>
    </div>
</section>