<section class="">
    <h3 class="heading">Some Projects of mine</h3>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-x-10 md:gap-y-16">
        {% for project in ['project', 'l', 's', 4] %}
        <div class="space-y-1">
            <div class="h-64 bg-stone-800 rounded-lg"></div>
            <div class="space-y-1">
                <h4 class="text-xl font-bold ">
                    <a href="#" class="hover:underline">Lorem ipsum dolor sit amet.</a>
                </h4>
                <div class="flex items-center gap-3 uppercase font-medium text-xs">
                    {% for skill in ['javascript', 'react', 'tailwindcss'] %}
                    <a href="#"
                        class="px-2 py-1 rounded border border-stone-500 text-stone-500 font-semibold hover:bg-stone-500 hover:text-stone-900">{{skill}}</a>
                    {% endfor %}
                </div>
                <p class="mb-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil vitae animi velit. Quibusdam, quam
                    aspernatur....
                </p>
                <div class="flex items-center gap-3 justify-end">
                    <button>like</button>
                    <button>comment</button>
                    <div class="w-0.5 h-5 bg-zinc-600"></div>
                    <a href="#">Github</a>
                    <a href="#">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>