<section class="bg-stone-800 p-5 font-semibold">
    <h3 class="heading mb-5">top skills</h3>

    <div class="gap-5 grid md:grid-cols-2 lg:grid-cols-3">
        {% for skill in ['python', 'php', 'nodejs', 'laravel', 'wordpress'] %}
        <div class="p-5 rounded-lg bg-stone-900 border border-dashed border-stone-700 flex gap-5">
            <img src="{{ url_for('static', filename='icons/'+skill+'.svg')}}"
                class="object-fit w-12 h-12 md:w-20 md:h-20" alt="Javascript Image" />
            <div class="">
                <h3 class="mb-1 font-bold">{{skill}}</h3>
                <p class="max-w-sm font-light mb-2">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo,
                    laudantium.
                </p>
                <a class="text-sm text-white hover:underline" href="#">Learn more >></a>
            </div>
        </div>
        {% endfor %}
    </div>

    <p class="text-right mt-5 font-normal">
        <a class="" href="#">View All Skills >></a>
    </p>
</section>