@font-face {
  font-family: raleway;
  src: url('raleway.ttf');
}

@font-face {
  font-family: montserrat;
  src: url('Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: sfmono;
  src: url('SFMonoMedium.otf');
}

html,
body {
  font-family: montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/bg-dark.png');
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
  @apply relative w-screen overflow-x-hidden p-0 m-0 text-slate-400 bg-[#0A192F];
}


@tailwind base;
@tailwind components;
@tailwind utilities;