<aside :class="{'hidden': !open}" class="sidebar md:block">
    <h1 class="p-5 text-xl border-b border-stone-700">
        <a href="/" class="font-semibold">{{app_name}}</a>
    </h1>

    <div class="">
        <ul class="p-5">
            <li class="">
                <a href="{{ url_for('admin.index' ) }}" class="sidebar-link">Dashboard</a>
            </li>
            <li class="">
                <a href="{{ url_for('admin.site' ) }}" class="sidebar-link">Site Info</a>
            </li>
            <li class="">
                <a href="{{ url_for('admin.skills' ) }}" class="sidebar-link">Skills</a>
            </li>
            <li class="">
                <a href="#" class="sidebar-link">projects</a>
            </li>
            <li class="">
                <a href="#" class="sidebar-link">Blogs</a>
            </li>
        </ul>
    </div>
</aside>