<aside class="w-64 fixed top-0 left-0 z-10 bg-stone-900 h-screen md:sticky border-r border-r4 border-stone-700 md:block"
    :class="{'hidden': !open}">
    <h1 class="p-5 text-xl border-b border-stone-700">Admin Panel</h1>

    <div class="">
        <ul class="p-5">
            {% for link in ['dashboard', 'site info', 'skills', 'projects', 'blogs'] %}
            <li class="">
                <a href="#"
                    class="block text-lg capitalize px-5 py-2 rounded-full hover:bg-black rounded-bl-none hover:font-bold">{{
                    link
                    }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>