<nav class="fixed top-0 left-0 w-full bg-stone-800 h-14 border border-stone-700">
    <div class="p-5 md:p-0 h-full max-w-screen-xl mx-auto flex items-center gap-5">
        <a class="font-bold text-green-500 text-lg" href="/">Dev Usman</a>
        <ul class="ml-auto hidden md:flex items-center gap-5">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <button class="btn-inline">Resume</button>
            </li>
        </ul>
    </div>
</nav>