<nav class="fixed top-0 left-0 w-full bg-stone-800 h-14 border-b border-stone-700">
    <div class="p-5 md:p-0 h-full max-w-screen-xl mx-auto flex items-center gap-5">
        <a class="font-bold text-stone-400 text-lg z-20" href="/">Dev Usman</a>

        <button class="ml-auto md:hidden z-20">
            <svg class="w-6 h-6 text-stone-800 dark:text-stone-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
            </svg>
        </button>

        <ul class="ml-auto absolute left-0 top-0 w-screen h-screen flex flex-col items-center justify-center text-xl z-10 bg-stone-800 p-5 md:flex items-center gap-5">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <button class="btn-inline">Resume</button>
            </li>
        </ul>
    </div>
</nav>