<nav class="h-14 border-b border-zinc-700">
    <div class="h-full max-w-screen-xl mx-auto flex items-center gap-5">
        <a class="font-bold text-green-500 text-lg" href="/">Dev Usman</a>
        <ul class="ml-auto flex items-center gap-5">
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <button class="btn-inline">Resume</button>
            </li>
        </ul>
    </div>
</nav>